
    body {
        background-color: orange;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    form {
        font-size: 18px;
        line-height: 2rem;
    }

    input[type="text"] {
        padding: 5px;
        border: none;
        border-radius: 4px;
    }

    input[type="submit"] {
        margin-top: 10px;
        padding: 8px 15px;
        border: whitesmoke;
        border-radius: 6px;
        background: white;
        color: orange;
        font-weight: bold;
        cursor: pointer;
    }

    #results {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
